// Definición de colores globales
$bluegem-color: #405D72;   // Color primario
$gray-color: #758694; // Color secundario
$bone-color: #F7E7DC;    // Color de acento
$white-color: #FFF8F3;      // Color del texto
$orange-color: #E07A5F;      // Color del texto

$background-color: #EEEEEE; // Color de fondo

