<div class="container">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>6pm</th>
          <th>7pm</th>
          <th>8pm</th>
          <th>9pm</th>
          <th>10pm</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>20 de Septiembre</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>21 de Septiembre</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>22 de Septiembre</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>23 de Septiembre</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>24 de Septiembre</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>25 de Septiembre</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="cards-container">
    <div class="card large-card" style="margin-top: 0;">
      <h3>Tiempo total</h3>
      <p>5h 20min</p>
    </div>
    <div class="card large-card">
      <h3>Franja más utilizada</h3>
      <div class="icon-text">
        <mat-icon>nights_stay</mat-icon>
        <p>Noc.</p>
      </div>
    </div>
    <div class="card">
      
        <mat-icon>edit</mat-icon>
        <span class="button-text">Ver mas</span>
      
    </div>
  </div>
</div>