@import '../../styles/colors';
$light-gray-color: #d3d3d3; // Ajusta el color según tus necesidades

.container {
  display: flex;
  justify-content: space-between;
  margin: 3% 5% 0%;
  align-items: stretch; // Asegura que los elementos hijos tengan la misma altura
}

.table-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px; // Añadir espacio entre la tabla y los indicadores
}

.cards-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  background-color: $gray-color;
  color: $bone-color;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.large-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-text mat-icon {
  margin-right: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1rem;
  text-align: left;
  flex: 1; // Asegura que la tabla ocupe todo el espacio disponible
}

th, td {
  padding: 12px 15px;
  border: 1px solid $gray-color;
}

th {
  background-color: $gray-color;
  color: $bone-color;
}

tbody tr:nth-child(even) {
  background-color: $light-gray-color;
}

tbody tr:hover {
  background-color: $gray-color;
  color: $bone-color;
}

.compress-button {
    position: relative; /* Hace que el botón sea un contenedor para el texto */
    height: 8vh;
    width: 20vh;
    border-radius: 20px;
    background-color: $gray-color;
    margin: 2% 0;
    font-size: 1.3rem;

    span{
        color: $bone-color;

    }

    mat-icon{
        color: $bone-color;
        font-size: 1.3rem;

    }
    
  }