header {
    background-color: #405D72;
    /* Change to your desired background color */
    padding: 20px;
    text-align: center;
    /* Center the content */
    height: 12vh;
}

.title {
    color: white;
    /* Change to your desired text color */
    margin: 0;
    /* Remove default margin */
}