.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #405D72; // Ajusta el color según tus necesidades
    color: #F7E7DC; // Ajusta el color según tus necesidades
  }
  
  .title {
    flex: 1;
    text-align: center;
    cursor: pointer;
    margin: 0;
  }
  
  .left-buttons {
    display: flex;
    gap: 10px;
  }
  
  button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
  }
  
  button:hover {
    color: #E07A5F; // Ajusta el color según tus necesidades
  }
  
  .home-button {
    margin-left: auto; // Asegura que el botón de casa esté a la derecha
  }